[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
freezegun = "*"

[packages]
prometheus-client = "*"
logstash-formatter = "*"
boto3 = "*"
watchtower = "*"
requests = "*"
insights-core = {git = "https://www.github.com/redhatinsights/insights-core",ref = "3.0"}
pytest = "*"
confluent-kafka = "*"

[requires]
python_version = "3.7"
