[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
prometheus-client = "*"
logstash-formatter = "*"
boto3 = "*"
watchtower = "*"
kafka-python = "*"
requests = "*"
insights-core = "*"

[requires]
python_version = "3.7"
