poetry-core==2.1.3
setuptools==78.1.1
setuptools_scm[toml]==6.4.2
wheel==0.45.1
flit_core==3.12.0
tomli==2.2.1
hatchling==1.27.0
pathspec==0.12.1
trove-classifiers==2025.5.9.12
calver==2025.4.17
hatch-vcs==0.4.0
pbr==6.1.1
Cython==3.0.12
argon2-cffi==23.1.0
hatch-fancy-pypi-readme==25.1.0
pycryptodome==3.23.0
typing-extensions==4.13.2
