app-common-python==0.2.7
confluent-kafka==2.8.2
flake8==7.1.2
freezegun==1.5.1
insights-core==3.5.8
jsonschema==4.23.0
logstash_formatter==0.5.17
minio==7.2.15
prometheus_client==0.21.1
redis==5.2.1
requests==2.32.3
urllib3==2.3.0
watchtower==3.4.0
pytest==8.3.5
